html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background-color: #e31836;
  color: white;
}

audio {
  display: none;
}

main {
  flex-grow: 1;
  /* border: 5px solid green; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

/* main > * {
  border: 1px solid red;
} */

.space0,
.space1,
.space2,
.space3 {
  flex-grow: 1;
}

.letters {
  font-size: 20vh;
}

.letters > input,
.letters > input:focus,
.letters > input:active {
  font-size: inherit;
  border: 0;
  outline: none;
  background-color: transparent;
  width: 90vw;
  text-align: center;
  padding: 0;
  color: white;
  text-shadow: 2px 2px 10px #000;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 1em;
  justify-content: center;
  text-wrap-mode: nowrap;
}

.buttons > button {
  padding: 0.5em 0.8em;
  font-size: 120%;
}

.voices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5vh;
  row-gap: 2vh;
}

.avatar {
  width: min(30vh, 25vw);
  height: min(30vh, 25vw);
  border-radius: 12%;
  border: calc(min(20vh, 25vw) * 0.05) solid;
  border-color: #e31836;
  background-color: #c6cccd;
  transition-property: filter border-color background-color;
  transition-duration: 0.5s;
}

.avatar > img {
  transition-property: filter border-color background-color;
  transition-duration: 0.7s;
  cursor: pointer;
  filter: brightness(0.7);
  overflow: hidden;
}

.avatar.selected {
  border-color: #710c1b;
}

.avatar:hover,
.avatar.selected {
  background-color: #ecf0f1;
}

.avatar:hover > img,
.avatar.selected > img {
  filter: brightness(1);
}

footer {
  font-family: sans-serif;
  opacity: 0.8;
  text-align: center;
  padding-block: 1em;
}

footer a,
footer a:visited {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: solid underline;
}
